html {
  --color-main: #16617d;
  --color-secondary: #d3d3d3;
  --color-light: #ffffff;
  --color-success: #4bb543;
  --color-danger: #ff0000;
  --color-warning: #ffbf00;
  --color-card-primary: #a3d2d6;
  --color-card-secondary: #252525;
  --color-card-warning: #ffe89b;
  --color-card-success: #85e574;
  --color-card-danger: #f57979;
  --color-card-reviewed: #cee892;
  --color-card-critical: #faab9d;
  --color-breadcrumb-active: #4c89a0;
  --color-dropzone-background: #eaf1f2;
  --color-label: #888888;
  --color-collapse-body: #e5f9fb;
  --color-select-maxvalues: #9c9d9e;
  --color-chips: #e5f9fb;
  --color-scroll-background: #f1f1f1;
  --color-alert-success-background: #f5fcf9;
  --color-alert-success-border: #37be87;
  --color-alert-warning-background: #fefaf2;
  --color-alert-warning-border: #f2be4a;
  --color-alert-danger-background: #fef4f4;
  --color-alert-danger-border: #f76662;
  --color-alert-info-background: #f4f9fd;
  --color-alert-info-border: #5ea9e7;
  --color-slider-track: #eaeaea;
  --color-btn-secondary: #808080;
  --color-mandatory-star: #fe0000;
  --color-stepper-background: #f3f3f3;
  --color--stepper-clicked: #24a323;
  --color-tooltip-shadow: #b4b4b4;
}
