.usercard {
  // height: 380px;
  // width: 350px;
  background-color: #113344;
  color: white;
  // position: relative;
  // box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.input-text {
  position: relative;
  margin-top: 10px;
}
input[type="text"] input[type="password"] {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 9px;
  border: 1px solid #e0e3e9;
  padding: 0 10px;
  padding-left: 30px;
  outline: 0;
  font-size: 13px;
}

.validation {
  height: 45px;
  width: 100%;
  border: none;
  // border: 1px solid #e0e3e9;
  // padding: 0 10px;
  // padding-left: 30px;
  outline: 0;
  font-size: 15px;
  color: rgb(228, 101, 101);
}

.input-text .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 15px;
  cursor: pointer;
  color: black;
}
.input-text .fa-eye {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 15px;
  cursor: pointer;
  color: black;
}

//  button css for User change password

.password:hover,
.password {
  // background: #13334a;
  background: #16617d;
  color: white;
  text-decoration: none;
}
