.h3Text{
    color: #113344;
    text-align: center;
}

.centerEmail{
    background-color: darkgray;
    color: white;
}

.ant-form-item-label > label{
    font-size: 20px !important;
}

.ant-btn > span{
    color: white !important;
}

// .ant-form label{
//     font-size: 20px;
//     color:white;
// }

.checkboxes{
    margin-left: 30px;
}

.ant-checkbox + span{
    margin-left: 15px;
}

.saveBtn{
    text-align: right;
}

.submitFornButton{
    padding-top: 4px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 18px !important;
    padding-bottom: 32px !important;
}

.displayMinutesDuration{
    display: block;
    font-size: 20px;
}

.hideMinutesDuration{
    display: none;
}

.displayHourDuration{
    display: block;
    font-size: 20px;
}

.hideHourDuration{
    display: none;
}

.fontSize{
    font-size: 20px;
}

.inputFontSize{
    font-size: 18px !important;
}

.spanText{
    font-size: 25px;
}